@media only screen and (max-width:768px) {
    .navContainer{
        display: none;
    }
    .iconContainer{
        display: none;
        text-align: center;
    }
    
    .iconContainerMobile{
        display: block;
        text-align: center;
    }
    .headerContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }
    .MobileContainer{
         display: none;
    }
    .MobileContainer{
     position: absolute;
     left: 45px;
     width: 300px;
     transition: .5s all ease-out;
     background-color:black;
     backdrop-filter: blur(50px);


     animation-name: slideTop;
     animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    }
    @keyframes slideTop {
         0%{transform: translateY(-150px);}
    }
    #mobilelink{
         display: block;
         padding:35px;
         text-align: center;
         text-decoration: none;
         color: white;
         text-transform: capitalize;
         font-size: 1.5rem;
         margin-top: 0;
         border-bottom: 1.5px solid black;
    }
    .last{
        border-bottom: none;
    }
    .section{
        display: flex;
        flex-wrap: wrap;
        
    }
    .p1{
        font-size: 1.5rem;
        text-align: center;
    }
    .techStackContainer{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         justify-content: center;
         place-items: center;
    }
    .projectContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .projectbox{
        margin: 10px;
    }
    .extraContainer{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }
    .innerExtra{
        display: flex;
        flex-wrap: wrap;
    }
    .menuBTn{
        width: 150px;
        border: none;
        padding: 10px;
        border-radius: 15px;
        background-color: transparent;
        display: block;
    }
    .closeBtn{
         background-color: black;
         color: white;
         height: 100px;
         width: 80px;
         padding: 15px;
         font-size: 4rem;
         border-radius: 20px;
         text-align: center;
         margin-left: 170px;
    }
    .techbox1{
         margin:20px;
    }
    
.logoText{
    font-size: 2.5rem;
    text-transform: capitalize;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

}
    
